<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
</head>
<body>
<div id="results"></div>
<div>Оставить заявку</div>
<div class="tab">
    <label for="name">Ваше имя:</label><input id="name" name="name" value="" type="text"><br>
    <label for="email">Ваш E-mail:</label><input id="email" name="email" value="" type="text"><br>
    <label for="phone">Ваш телефон:</label><input id="phone" name="phone" value="" type="number"><br>
    <label>
        <select id="select">
            <option disabled>Укажите вашу сферу бизнеса:</option>
            <option selected="selected">Услуги</option>
            <option id="select1">Торговля</option>
            <option id="select2">Общественное питание</option>
            <option id="select3">Производство</option>
            <option id="select4">IT-сфера</option>
            <option id="another">Другое</option>
        </select>
    </label><br>
    <div id="hidden_place" style="display: none">
        <label for="nameArea">Ваша область:</label><input id="nameArea" name="nameArea" type="text"><br>
    </div>
</div>
<div class="tab">
    <div>
        <p><b>Какого месячного заработка вы планируете добиться с вашей франшизы</b></p>
        <p><label>
                <input name="price" type="radio">
            </label> 100 - 300 тыс. руб. в месяц </p>
        <p><label>
                <input name="price" type="radio">
            </label> 300 - 500 тыс. руб. в месяц </p>
        <p><label>
                <input name="price" type="radio">
            </label> 500 - 1000 тыс. руб. в месяц</p>
        <p><label>
                <input name="price" type="radio">
            </label> более 1 миллиона руб. в месяц </p>
    </div>
    <div>
        <p><b>Есть ли у вас проверенные поставщики/контрагенты на всей территории распространнения франшизы</b></p>
        <p><label>
                <input name="provider" type="radio">
            </label>Да</p>
        <p><label>
                <input name="provider" type="radio">
            </label>Нет</p>
    </div>
    <div>
        <p><b>Планируете ли вы проверять качество работы ваших фрайчази?</b></p>
        <p><label>
                <input name="fran" type="radio">
            </label>Да</p>
        <p><label>
                <input name="fran" type="radio">
            </label>Нет</p>
    </div>
</div>
<div class="tab">
    <div>
        <p>Расскажите о себе и своей фрашизе<Br>
            <label>
                <textarea name="comment" cols="40" rows="6"></textarea>
            </label></p>
    </div>
    <div>
        <p>Как вы видете будущее своего бизнеса<Br>
            <label>
                <textarea name="comment2" cols="40" rows="3"></textarea>
            </label></p>
    </div>


</div>
<div style="float:right;">
    <button class="btn btn-dark" type="button" id="prevBtn" onclick="nextPrev(-1)">Назад</button>
    <button class="btn btn-dark" type="button" id="nextBtn" onclick="nextPrev(1)">Далее</button>
</div>
<div class="tab">
    <div>
        <p><label>
                <input type="checkbox" id="agree" name="agree" value="agree">
            </label>Я, согласен на обработку данных<Br>
    </div>
    <div id="submit_button" style="display: none">
        <button disabled="disabled" id="send">Отправить</button>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
    $('select').on('change', function () {
        if (this.value === 'Другое') {
            $('#hidden_place').show(1);
        } else $('#hidden_place').hide(1);
    });
    $('#agree').on('change', function () {
        button = document.getElementById('send')
        button.disabled = !this.checked;
    });
</script>
<script src="{{ asset('js/multiForm.js') }}"></script>
<script src="{{ asset('js/ajaxScript.js') }}"></script>
</body>
</html>